.header{
  background-image: url("../../../../src/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 850px;
  position: relative;


  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__logo-holder{
    max-width: 250px;
    padding-top: 30px;
  }

  &__logo{
    font-family: 'Righteous', cursive;
    font-size: 57px;
    color: white;
    line-height: 44px;
  }

  &__hours{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 15px;
    text-align: end;
  }

  &__nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__nav-link{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 21px;
  }

  &__content{
    text-align: center;
    padding-top: 125px;
    padding-bottom: 250px;
  }

  &__title{
    font-family: 'Limelight', cursive;
    font-size: 80px;
    font-weight: 400;
    padding-bottom: 110px;
  }

  &__button{
    width: 210px;
    height: 60px;
    background-color: #af2828;
    color: white;
    padding: 20px 35px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
  }
}